* {
    margin: 0px;
    padding: 0px;
}

header {
    top: 0px;
    left: 0px;
    position: sticky;
}

nav {
    height: 60px;
    background-color: #E8D8B8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: #564F3F;
}

nav a:hover, nav li:hover {
    background-color: #A89E8F;
    color: #F6F0E4;
}

nav a:active {
    color: #6D5E4B;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;   
    align-items: top;         
    background-color: #F3E9D2;
    margin: 10px 10px;
    padding: 10px;
    width: 90%;    
}

article h1 {
    margin-right: 50px;
}

#a1 img {
    border-radius: 25%;
    width: 200px;
}

main h1 {
    font-family: 'Dongle', sans-serif;
    font-size: xx-large;
}

main ul {
    font-family: 'Dongle', sans-serif;
    font-size: xx-large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A89E8F;
    color: #F6F0E4;
    
}

.temp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.temp > span {
    font-size: larger;
}
